<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m-t" id="cancel-form">
		<input id="orderId" type="hidden" th:value="${orderId}">
		<div class="form-group">
			<div class="form-control-static"  >
				请选择取消原因：<select id="reason" class="form-control m-b" style="width: 75%;float:right;margin-top: -8px">
					<option th:each="reason : ${reasons}" th:text="${reason.reason}" th:value="${reason.id}"></option>
				</select>
			</div>
		</div>
	</form>
</div>

<div th:include="include :: footer"></div>
<script>
    $("#cancel-form").validate({
        rules:{},
        messages: {
        },
        submitHandler:function(form){
            edit();
        }
    });

    function submitHandler() {
        if ($.validate.form()) {
            edit();
        }
    }

    function edit() {
        var orderId = $("#orderId").val();
        var reason = $("#reason").text();
        var reasonId = $("#reason").val();
        $.ajax({
            cache : true,
            type : "POST",
            url : ctx + "biz/order/cancel",
            data : {
                "cancelReasonId": reasonId,
                "cancelReason":reason,
				"orderId":orderId
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                if(data.code==0){

                    $.modal.alertSuccess(data.msg);
                }else{
                    $.modal.alertError(data.msg);
                }
            }
        });
    }



</script>
</body>
</html>